{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        com.garmin/fit {:mvn/version "21.205.0"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.18.8"}
        com.google.cloud/google-cloud-firestore {:mvn/version "3.44.0"}
        com.google.cloud/google-cloud-run {:mvn/version "0.94.0"}
        com.google.cloud/google-cloud-storage {:mvn/version "2.70.0"}
        com.google.cloud/google-cloud-tasks {:mvn/version "2.94.0"}
        com.taoensso/telemere {:mvn/version "1.0.1"}
        com.taoensso/tufte {:mvn/version "3.0.2"}
        com.taoensso/truss {:mvn/version "2.4.0"}}
 :aliases
 {:api {:main-opts ["-m" "agg.api.main"]}
  :renderer {:main-opts ["-m" "agg.renderer.main"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
         :main-opts ["-m" "agg.test-runner"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
          :ns-default build}}}
