{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        org.clojure/data.json {:mvn/version "2.5.1"}}
 :aliases
 {:api {:main-opts ["-m" "agg.api.main"]}
  :renderer {:main-opts ["-m" "agg.renderer.main"]}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "agg.test-runner"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
          :ns-default build}}}
