openapi: 3.1.0
info:
  title: Alpha Compose API
  version: 1.0.0
  description: |
    Create transparent ProRes 4444 telemetry overlays or bounded composites for
    short videos. Browser sessions
    require `X-CSRF-Token` on writes; personal bearer tokens do not. Google
    Drive delivery uses only the `drive.file` scope.
  contact:
    email: me@jamiep.org
  license:
    name: All rights reserved
    url: https://alphacompose.com/terms
servers:
  - url: https://alphacompose.com
    description: Production
security:
  - bearerAuth: []
  - sessionCookie: []
tags:
  - name: Rendering
    description: Synchronous preview and overlay creation.
  - name: Jobs
    description: Durable render submission and lifecycle.
  - name: Tokens
    description: Personal API token management.
  - name: Administration
    description: Owner- and admin-managed membership management.
  - name: Browser authorization
    description: Google login, optional Drive authorization, and Drive Picker browser redirects.
paths:
  /health:
    get:
      operationId: getHealth
      summary: Check service health.
      security: []
      responses:
        "200":
          description: Service is ready.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    const: ok
  /v1/auth/login/start:
    get:
      operationId: startGoogleLogin
      tags: [Browser authorization]
      summary: Start approved-user Google sign-in.
      description: Starts a PKCE-protected login flow and stores signed OAuth state in the Firebase-compatible `__session` HttpOnly cookie.
      security: []
      responses:
        "302":
          description: Redirect to Google OAuth authorization.
          headers:
            Location:
              description: Google OAuth authorization URL requesting `openid email profile`.
              schema: {type: string, format: uri}
            Set-Cookie:
              description: Signed Firebase-compatible `__session` cookie containing short-lived OAuth state.
              schema: {type: string}
  /v1/auth/login/callback:
    get:
      operationId: finishGoogleLogin
      tags: [Browser authorization]
      summary: Finish approved-user Google sign-in.
      description: Validates the query state against signed OAuth state in the `__session` cookie and allowlists the Google identity.
      security: []
      parameters:
        - $ref: "#/components/parameters/OAuthCode"
        - $ref: "#/components/parameters/OAuthState"
      responses:
        "302":
          description: Redirect to the signed-in homepage.
          headers:
            Location:
              schema: {type: string, const: /}
            Set-Cookie:
              description: Signed Firebase-compatible `__session` cookie.
              schema: {type: string}
        "400":
          description: OAuth state, code, or Drive scope validation failed.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "401": {$ref: "#/components/responses/AuthenticationRequired"}
        "403": {$ref: "#/components/responses/NotAllowlisted"}
        "502":
          description: Google OAuth or Drive is temporarily unavailable.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
        "503":
          description: KMS or grant persistence is temporarily unavailable.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
  /v1/auth/drive/start:
    get:
      operationId: startGoogleDriveAuthorization
      tags: [Browser authorization]
      summary: Start optional Google Drive authorization.
      description: Starts a consent flow requesting only `drive.file`, with offline access for selected inputs and created outputs.
      security:
        - sessionCookie: []
      responses:
        "302":
          description: Redirect to Google OAuth authorization.
          headers:
            Location:
              description: Google OAuth authorization URL requesting only `drive.file`.
              schema: {type: string, format: uri}
            Set-Cookie:
              description: Signed Firebase-compatible `__session` cookie containing short-lived OAuth state tied to the signed-in user.
              schema: {type: string}
        "401": {$ref: "#/components/responses/AuthenticationRequired"}
  /v1/auth/drive/callback:
    get:
      operationId: finishGoogleDriveAuthorization
      tags: [Browser authorization]
      summary: Finish optional Google Drive authorization.
      description: Validates OAuth state, requires exactly `drive.file`, encrypts the refresh token, and ensures the output folder.
      security: []
      parameters:
        - $ref: "#/components/parameters/OAuthCode"
        - $ref: "#/components/parameters/OAuthState"
      responses:
        "302":
          description: Redirect to the homepage with Drive connected.
          headers:
            Location:
              schema: {type: string, const: "/?drive=connected"}
            Set-Cookie:
              description: Refreshed signed Firebase-compatible `__session` cookie.
              schema: {type: string}
        "400": {$ref: "#/components/responses/InvalidOAuthState"}
        "403": {$ref: "#/components/responses/NotAllowlisted"}
  /v1/drive/picker:
    get:
      operationId: showGoogleDrivePicker
      tags: [Browser authorization]
      summary: Open Google Drive Picker for the signed-in user.
      description: Refreshes the user's optional Drive grant and returns a no-store HTML Picker page for supported input files.
      security:
        - sessionCookie: []
      responses:
        "200":
          description: Google Drive Picker HTML.
          content:
            text/html:
              schema: {type: string}
        "401": {$ref: "#/components/responses/AuthenticationRequired"}
        "503":
          description: Picker API key or application ID is not configured.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Error"}
  /v1/preview:
    post:
      operationId: createPreview
      tags: [Rendering]
      summary: Render a midpoint PNG preview.
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        $ref: "#/components/requestBodies/RenderRequest"
      responses:
        "200":
          description: Transparent PNG preview.
          headers:
            Cache-Control:
              schema: {const: no-store}
          content:
            image/png:
              schema: {type: string, contentEncoding: binary}
        "400": {$ref: "#/components/responses/InvalidRequest"}
        "401": {$ref: "#/components/responses/AuthenticationRequired"}
        "413": {$ref: "#/components/responses/PayloadTooLarge"}
  /v1/overlay:
    post:
      operationId: createOverlay
      tags: [Rendering]
      summary: Render an overlay synchronously.
      description: Prefer durable jobs for production-size renders.
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        $ref: "#/components/requestBodies/RenderRequest"
      responses:
        "200":
          description: Seekable ProRes 4444 MOV with transparent video and heartbeat audio.
          headers:
            Cache-Control:
              schema: {const: no-store}
          content:
            video/quicktime:
              schema: {type: string, contentEncoding: binary}
        "400": {$ref: "#/components/responses/InvalidRequest"}
        "401": {$ref: "#/components/responses/AuthenticationRequired"}
        "413": {$ref: "#/components/responses/PayloadTooLarge"}
  /v1/jobs:
    post:
      operationId: submitJob
      tags: [Jobs]
      summary: Submit an idempotent durable render.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        $ref: "#/components/requestBodies/RenderRequest"
      responses:
        "200":
          description: Existing job returned for an idempotent replay.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Job"}
        "202":
          description: Job accepted.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Job"}
        "400": {$ref: "#/components/responses/InvalidRequest"}
        "409": {$ref: "#/components/responses/Conflict"}
        "429": {$ref: "#/components/responses/AdmissionRejected"}
        "503": {$ref: "#/components/responses/CapacityUnavailable"}
  /v1/jobs/{jobId}:
    parameters:
      - $ref: "#/components/parameters/JobId"
    get:
      operationId: getJob
      tags: [Jobs]
      summary: Get an owned render job.
      responses:
        "200":
          description: Owned job state.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Job"}
        "404": {$ref: "#/components/responses/NotFound"}
  /v1/jobs/{jobId}/cancel:
    parameters:
      - $ref: "#/components/parameters/JobId"
    post:
      operationId: cancelJob
      tags: [Jobs]
      summary: Cancel an owned render job.
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      responses:
        "200":
          description: Cancellation recorded or requested.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Job"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
  /v1/jobs/{jobId}/retry:
    parameters:
      - $ref: "#/components/parameters/JobId"
    post:
      operationId: retryJob
      tags: [Jobs]
      summary: Retry an owned failed or cancelled render job.
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      responses:
        "202":
          description: A failed or cancelled job was queued as its next attempt.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Job"}
        "404": {$ref: "#/components/responses/NotFound"}
        "409": {$ref: "#/components/responses/Conflict"}
        "429": {$ref: "#/components/responses/AdmissionRejected"}
  /v1/uploads:
    post:
      operationId: createUpload
      tags: [Jobs]
      summary: Create a 15-minute signed request upload.
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [contentType, contentLength]
              properties:
                contentType: {const: application/json}
                contentLength: {type: integer, minimum: 1, maximum: 10551296}
      responses:
        "201":
          description: Signed upload command.
          content:
            application/json:
              schema:
                type: object
                required: [id, method, contentType, contentLength, expiresAt, uploadUrl]
                properties:
                  id: {type: string, format: uuid}
                  method: {const: PUT}
                  contentType: {const: application/json}
                  contentLength: {type: integer}
                  expiresAt: {type: string, format: date-time}
                  uploadUrl: {type: string, format: uri}
        "400": {$ref: "#/components/responses/InvalidRequest"}
  /v1/tokens:
    get:
      operationId: listTokens
      tags: [Tokens]
      summary: List personal token metadata.
      security:
        - sessionCookie: []
      responses:
        "200":
          description: Token metadata; secrets and hashes are never returned.
          content:
            application/json:
              schema:
                type: array
                items: {$ref: "#/components/schemas/Token"}
    post:
      operationId: createToken
      tags: [Tokens]
      summary: Create a personal API token.
      security:
        - sessionCookie: []
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name: {type: string, minLength: 1, maxLength: 80}
      responses:
        "201":
          description: Token metadata and the one-time token secret.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Token"
                  - type: object
                    required: [token]
                    properties:
                      token: {type: string, writeOnly: true}
        "400": {$ref: "#/components/responses/InvalidRequest"}
  /v1/tokens/{tokenId}/revoke:
    parameters:
      - $ref: "#/components/parameters/TokenId"
    post:
      operationId: revokeToken
      tags: [Tokens]
      summary: Revoke a personal API token.
      security:
        - sessionCookie: []
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      responses:
        "200":
          description: Revoked token metadata.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Token"}
        "404": {$ref: "#/components/responses/NotFound"}
  /v1/admin/members:
    get:
      operationId: listMembers
      tags: [Administration]
      summary: List administrator-managed memberships.
      security:
        - sessionCookie: []
      responses:
        "200":
          description: Administrator-managed memberships.
          content:
            application/json:
              schema:
                type: array
                items: {$ref: "#/components/schemas/Member"}
        "403": {$ref: "#/components/responses/AdminRequired"}
    post:
      operationId: addMember
      tags: [Administration]
      summary: Add or reactivate a member.
      security:
        - sessionCookie: []
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        $ref: "#/components/requestBodies/MemberEmail"
      responses:
        "201":
          description: Membership added or reactivated with a new generation.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Member"}
        "403": {$ref: "#/components/responses/AdminRequired"}
  /v1/admin/members/revoke:
    post:
      operationId: revokeMember
      tags: [Administration]
      summary: Revoke a member and every access path.
      security:
        - sessionCookie: []
      parameters:
        - $ref: "#/components/parameters/CsrfToken"
      requestBody:
        $ref: "#/components/requestBodies/MemberEmail"
      responses:
        "200":
          description: Membership, sessions, tokens, Drive grant, and active work revoked.
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Member"}
        "403": {$ref: "#/components/responses/AdminRequired"}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Alpha Compose personal token
    sessionCookie:
      type: apiKey
      in: cookie
      name: __session
  parameters:
    CsrfToken:
      name: X-CSRF-Token
      in: header
      required: false
      description: Required for writes authenticated by session cookie; omit for bearer authentication.
      schema: {type: string}
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: {type: string, minLength: 1, maxLength: 128}
    JobId:
      name: jobId
      in: path
      required: true
      schema: {type: string, format: uuid}
    TokenId:
      name: tokenId
      in: path
      required: true
      schema: {type: string, format: uuid}
    OAuthCode:
      name: code
      in: query
      required: true
      description: One-time Google OAuth authorization code.
      schema: {type: string, minLength: 1}
    OAuthState:
      name: state
      in: query
      required: true
      description: OAuth state value that must match signed state in the `__session` cookie.
      schema: {type: string, minLength: 1}
  requestBodies:
    RenderRequest:
      required: true
      content:
        application/json:
          schema: {$ref: "#/components/schemas/RenderRequest"}
    MemberEmail:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required: [email]
            properties:
              email: {type: string, format: email, maxLength: 254}
  responses:
    InvalidRequest:
      description: Invalid request.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    AuthenticationRequired:
      description: Authentication or a valid Drive grant is required.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    PayloadTooLarge:
      description: Request exceeded a configured byte limit.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    Conflict:
      description: Idempotency conflict or invalid state transition.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    AdmissionRejected:
      description: Daily or monthly admission limit reached.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    CapacityUnavailable:
      description: Render capacity is full or a transaction should be retried.
      headers:
        Retry-After:
          schema: {type: integer, minimum: 1}
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    NotFound:
      description: The owned resource does not exist.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    AdminRequired:
      description: Owner or admin session required.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    InvalidOAuthState:
      description: OAuth state is missing, invalid, expired, or for another flow.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
    NotAllowlisted:
      description: Google identity is not an approved user.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Error"}
  schemas:
    RenderRequest:
      type: object
      additionalProperties: false
      description: Common render configuration accepted by preview, overlay, and durable-job endpoints. Source-video composition options require sourceVideo.
      required:
        - telemetryFormat
        - telemetry
        - preset
        - telemetrySyncAt
        - cameraSyncAt
        - sectionStartAt
        - sectionEndAt
      properties:
        telemetryFormat:
          type: string
          enum: [polar-csv, garmin-fit, oxiwear-hr-csv]
          description: Heart-rate input encoding. polar-csv and oxiwear-hr-csv use CSV text; garmin-fit uses base64-encoded FIT content.
        telemetry:
          type: string
          description: CSV text or base64-encoded Garmin FIT content. CSV is limited to 10 MiB of UTF-8 text; Garmin FIT base64 is limited to 13,981,016 characters (a 10 MiB binary input).
        preset:
          type: string
          enum: [1080p25, 2.7k25]
          description: 1080p25 is 1920×1080 at 25 fps for up to 8 minutes; 2.7k25 is 2704×1520 at 25 fps for up to 4 minutes.
        telemetrySyncAt:
          allOf: [{$ref: "#/components/schemas/Instant"}]
          description: Timestamp in telemetry at the camera synchronization moment.
        cameraSyncAt:
          allOf: [{$ref: "#/components/schemas/Instant"}]
          description: Camera timestamp corresponding to telemetrySyncAt; must not follow sectionStartAt.
        sectionStartAt:
          allOf: [{$ref: "#/components/schemas/Instant"}]
          description: Start of the rendered camera section.
        sectionEndAt:
          allOf: [{$ref: "#/components/schemas/Instant"}]
          description: End of the rendered camera section; duration must be a whole number of seconds and within the preset maximum.
        spo2:
          type: object
          additionalProperties: false
          required: [format, telemetry]
          properties:
            format:
              const: oxiwear-spo2-csv
              description: OxiWear SpO₂ CSV format.
            telemetry:
              type: string
              maxLength: 10485760
              description: OxiWear SpO₂ CSV text, limited to 10 MiB of UTF-8 text.
          description: Optional OxiWear SpO₂ series; samples must cover the requested section.
        timer:
          type: object
          additionalProperties: false
          required: [startAt, endAt]
          properties:
            startAt:
              allOf: [{$ref: "#/components/schemas/Instant"}]
              description: Timer start, inclusive, within the requested section.
            endAt:
              allOf: [{$ref: "#/components/schemas/Instant"}]
              description: Timer end, exclusive, after startAt and no later than sectionEndAt.
          description: Optional elapsed timer interval.
        watermark:
          type: object
          additionalProperties: false
          required: [contentBase64]
          properties:
            contentBase64:
              type: string
              contentEncoding: base64
              maxLength: 2796204
              description: PNG up to 2 MiB and 1024×1024 pixels.
          description: Optional PNG watermark.
        sourceVideo:
          type: object
          additionalProperties: false
          required: [fileId]
          properties:
            fileId: {type: string, minLength: 1}
            name: {type: string, description: Ignored client metadata.}
            mimeType: {type: string, description: Ignored client metadata.}
          description: One Drive video selected by ID; server metadata is authoritative.
        outputFormat:
          type: string
          enum: [h264-mp4, prores-422-mov]
          default: h264-mp4
          description: Composited output container. Only valid with sourceVideo.
        fitMode:
          type: string
          enum: [letterbox, pillarbox, crop]
          default: letterbox
          description: How the source video fits the render canvas. Only valid with sourceVideo.
        audioMode:
          type: string
          enum: [source+heartbeat, source-only, heartbeat-only]
          default: source+heartbeat
          description: Audio tracks for composited output. Only valid with sourceVideo.
      allOf:
        - if:
            properties:
              telemetryFormat: {const: garmin-fit}
          then:
            properties:
              telemetry: {maxLength: 13981016}
        - if:
            properties:
              telemetryFormat: {enum: [polar-csv, oxiwear-hr-csv]}
          then:
            properties:
              telemetry: {maxLength: 10485760}
    Instant:
      type: string
      format: date-time
      description: ISO-8601 instant with `Z` or an explicit UTC offset.
    Job:
      type: object
      required: [id, state, attempt, statusUrl, cancelUrl, retryUrl]
      properties:
        id: {type: string, format: uuid}
        state:
          type: string
          enum: [queued, launching, running, cancellation-requested, succeeded, failed, cancelled]
        attempt: {type: integer, minimum: 1}
        statusUrl: {type: string}
        cancelUrl: {type: string}
        retryUrl: {type: string}
        failureCode: {type: string}
        output:
          type: object
          properties:
            objectName: {type: string}
            sha256: {type: string, pattern: "^[0-9a-f]{64}$"}
            contentType: {type: string, enum: [video/quicktime, video/mp4]}
            driveFileId: {type: string}
            driveWebViewLink: {type: string, format: uri}
    Token:
      type: object
      required: [id, name, createdAt, revoked]
      properties:
        id: {type: string, format: uuid}
        name: {type: string}
        createdAt: {type: string, format: date-time}
        revoked: {type: boolean}
    Member:
      type: object
      required: [email, role, status]
      properties:
        email: {type: string, format: email}
        role: {type: string, enum: [owner, admin, member]}
        status: {type: string, enum: [active, revoked]}
        membershipVersion: {type: integer, minimum: 1}
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - payload_too_large
            - authentication_required
            - not_allowlisted
            - invalid_oauth_state
            - invalid_oauth_code
            - invalid_drive_scopes
            - csrf_required
            - drive_grant_required
            - oauth_exchange_failed
            - drive_unavailable
            - kms_unavailable
            - grant_persistence_failed
            - picker_not_configured
            - compositing_requires_durable_job
            - source_video_too_large
            - invalid_source_video
            - drive_source_unavailable
            - invalid_idempotency_key
            - idempotency_conflict
            - daily_submission_limit_exhausted
            - monthly_budget_exhausted
            - capacity_exhausted
            - transaction_contention
            - job_not_found
            - invalid_job_transition
            - token_not_found
            - admin_required
        retryable: {type: boolean}
